@import '../resets/resets';
@import '../mixins/mixins.scss';
@import '../variables/variables';


.container{
   @include grid();
   grid-template-columns: repeat(3, 300px);
   grid-template-rows: repeat(3, 200px);
   font-weight: 600;
   font-family: $roboto;
   /* padding: 0px 30px 50px ; */
}

h2,h3{
    text-align: center;
    font-family: $roboto;
    text-shadow: 1px 1px lightseagreen;
}

h2,h3{
    margin-bottom:  25px;
    margin-top: 15px;
}
.container img{
    @include width-height(280px,150px);
}

.container p{
        margin-top: auto;
}

.cdmx{
    grid-column: 1/2;
    grid-row: 1/2;
}

.colombia{
    grid-column: 2/3;
    grid-row: 1/2;
}

.francia{
    grid-column: 3/3;
    grid-row: 1/2;
}

.panama{
    grid-column: 1/2;
    grid-row: 2/3;
}

.argentina{
    grid-column: 2/3;
    grid-row: 2/3;
}

.la{
    grid-column: 3/3;
    grid-row: 2/3;
}
.brasil{
    grid-column: 1/2;
    grid-row: 3/3;
}

.gdl{
    grid-column: 2/3;
    grid-row: 3/3;
}

.dubai{
    grid-column: 3/3;
    grid-row: 3/3;
}
// .cdmx{
//     @include col-row(1/2,1/2);
// }

// .colombia{
//     @include col-row(2/3,1/2);
// }

// .francia{
//     @include col-row(3/3,1/2);
// }

// .panama{
//     @include col-row(1/2,2/3);
// }

// .argentina{
//     @include col-row(2/3,2/3);
// }

// .la{
//     @include col-row(3/3,2/3);
// }
// .brasil{
//     @include col-row(1/2,3/3);
// }

// .gdl{
//     @include col-row(2/3,3/3);
// }

// .dubai{
//     @include col-row(3/3,3/3);
// }

@media screen and (max-width: 576px){
    .container{
        @include grid();
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(9, 200px);
        font-weight: 600;
        font-family: $roboto;
    }

    .cdmx{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .colombia{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .francia{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .panama{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .argentina{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .la{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .brasil{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .gdl{
        grid-column: 1/2;
        grid-row: 8/9;
    }
    
    .dubai{
        grid-column: 1/2;
        grid-row: 9/10;
    }
}


