.background-jumbotron{
    background-image: url("../../images/landing/bosquedestino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.card{
    margin: 30px;
}

.container img{
    height: 200px;
}
